MachII/data/mach-ii_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Lance Thornswood (Martin Williams Advertising) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="mach-ii">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="properties" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listeners" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="listener" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="invoker">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="parameters" type="parametersType" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="event-filters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="event-filter" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="parameters" type="parametersType" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="event-handlers" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="event-handler" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:element name="filter">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="parameters" type="parametersType" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="notify">
											<xs:complexType>
												<xs:attribute name="listener" type="xs:string" use="required"/>
												<xs:attribute name="method" type="xs:string" use="required"/>
												<xs:attribute name="resultKey" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="event-arg">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="value" type="xs:string"/>
												<xs:attribute name="variable" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="event-mapping">
											<xs:complexType>
												<xs:attribute name="event" type="xs:string" use="required"/>
												<xs:attribute name="mapping" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="view-page">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="contentKey" type="xs:string"/>
												<xs:attribute name="append" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="false"/>
															<xs:enumeration value="true"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="announce">
											<xs:complexType>
												<xs:attribute name="event" type="xs:string" use="required"/>
												<xs:attribute name="copyEventArgs" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="false"/>
															<xs:enumeration value="true"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="event-bean">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="type" type="xs:string" use="required"/>
												<xs:attribute name="fields" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="event" type="xs:string" use="required"/>
									<xs:attribute name="access" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="public"/>
												<xs:enumeration value="private"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="page-views" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="page-view" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="page" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="plugins" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plugin" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="parameters" type="parametersType" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="type" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="parametersType">
		<xs:sequence>
			<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
